:root {
  --solidgrey: rgba(163, 166, 168, 1);
  --primary-100: rgba(41, 101, 138, 1);
  --primary-80: rgba(41, 101, 138, 0.8);
  --primary-30: rgba(41, 101, 138, 0.3);
  --primary-20: rgba(41, 101, 138, 0.2);
  --primary-10: rgba(41, 101, 138, 0.1);
  --secondary-100: rgba(76, 149, 108, 1);
  --secondary-80: rgba(76, 149, 108, 0.9);
  --secondary-30: rgba(76, 149, 108, 0.3);
  --secondary-20: rgba(76, 149, 108, 0.2);
  --secondary-10: rgba(76, 149, 108, 0.1);
  --accent-100: rgba(254, 101, 79, 1);
  --accent-80: rgba(254, 101, 79, 0.8);
  --accent-30: rgba(254, 101, 79, 0.3);
  --accent-20: rgba(254, 101, 79, 0.2);
  --accent-10: rgba(254, 101, 79, 0.1);
  --neutral-100: rgba(6, 15, 20, 1);
  --neutral-80: rgba(6, 15, 20, 0.8);
  --neutral-30: rgba(6, 15, 20, 0.3);
  --neutral-20: rgba(6, 15, 20, 0.2);
  --neutral-10: rgba(6, 15, 20, 0.1);
  --neutral-5: rgba(6, 15, 20, 0.05);
  --neutral-70: rgba(6, 15, 20, 0.7);
  --neutral-50: rgba(6, 15, 20, 0.5);
  --white-100: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-5: rgba(255, 255, 255, 0.05);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-50: rgba(255, 255, 255, 0.5);
  --red-100: rgba(255, 96, 73, 1);
  --red-5: rgba(255, 96, 73, 0.05);
  --yellow-100: rgba(223, 165, 53, 1);
  --yellow-10: rgba(223, 165, 53, 0.1);
  --green-100: rgba(39, 174, 96, 1);
  --green-5: rgba(39, 174, 96, 0.05);
  --green-20: rgba(39, 174, 96, 0.2);
  --green-10: rgba(39, 174, 96, 0.1);
  --blue-100: rgba(0, 137, 254, 1);
  --blue-10: rgba(45, 156, 219, 0.1);
  --navy-blue-10: rgba(231, 233, 237, 1);
  --text-xs-regular-font-family: "Barlow-Regular", Helvetica;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-font-size: 10px;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 14px;
  --text-xs-regular-font-style: normal;
  --text-xs-bold-font-family: "Barlow-Bold", Helvetica;
  --text-xs-bold-font-weight: 700;
  --text-xs-bold-font-size: 10px;
  --text-xs-bold-letter-spacing: 0px;
  --text-xs-bold-line-height: 14px;
  --text-xs-bold-font-style: normal;
  --text-sm-regular-font-family: "Barlow-Regular", Helvetica;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-font-size: 12px;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 16px;
  --text-sm-regular-font-style: normal;
  --text-sm-bold-font-family: "Barlow-Bold", Helvetica;
  --text-sm-bold-font-weight: 700;
  --text-sm-bold-font-size: 12px;
  --text-sm-bold-letter-spacing: 0px;
  --text-sm-bold-line-height: 16px;
  --text-sm-bold-font-style: normal;
  --text-base-regular-font-family: "Barlow-Regular", Helvetica;
  --text-base-regular-font-weight: 400;
  --text-base-regular-font-size: 14px;
  --text-base-regular-letter-spacing: 0px;
  --text-base-regular-line-height: 20px;
  --text-base-regular-font-style: normal;
  --text-base-bold-font-family: "Barlow-Bold", Helvetica;
  --text-base-bold-font-weight: 700;
  --text-base-bold-font-size: 14px;
  --text-base-bold-letter-spacing: 0px;
  --text-base-bold-line-height: 20px;
  --text-base-bold-font-style: normal;
  --text-large-regular-font-family: "Barlow-Regular", Helvetica;
  --text-large-regular-font-weight: 400;
  --text-large-regular-font-size: 16px;
  --text-large-regular-letter-spacing: 0px;
  --text-large-regular-line-height: 24px;
  --text-large-regular-font-style: normal;
  --text-large-bold-font-family: "Barlow-Bold", Helvetica;
  --text-large-bold-font-weight: 700;
  --text-large-bold-font-size: 16px;
  --text-large-bold-letter-spacing: 0px;
  --text-large-bold-line-height: 24px;
  --text-large-bold-font-style: normal;
  --text-xl-regular-font-family: "Barlow-Regular", Helvetica;
  --text-xl-regular-font-weight: 400;
  --text-xl-regular-font-size: 20px;
  --text-xl-regular-letter-spacing: 0px;
  --text-xl-regular-line-height: 28px;
  --text-xl-regular-font-style: normal;
  --text-xl-bold-font-family: "Barlow-Bold", Helvetica;
  --text-xl-bold-font-weight: 700;
  --text-xl-bold-font-size: 20px;
  --text-xl-bold-letter-spacing: 0px;
  --text-xl-bold-line-height: 28px;
  --text-xl-bold-font-style: normal;
  --text-2xl-bold-font-family: "Barlow-Bold", Helvetica;
  --text-2xl-bold-font-weight: 700;
  --text-2xl-bold-font-size: 24px;
  --text-2xl-bold-letter-spacing: 0px;
  --text-2xl-bold-line-height: 32px;
  --text-2xl-bold-font-style: normal;
  --text-3xl-font-family: "Barlow-Bold", Helvetica;
  --text-3xl-font-weight: 700;
  --text-3xl-font-size: 30px;
  --text-3xl-letter-spacing: 0px;
  --text-3xl-line-height: 36px;
  --text-3xl-font-style: normal;
  --text-4xl-font-family: "Barlow-Bold", Helvetica;
  --text-4xl-font-weight: 700;
  --text-4xl-font-size: 42px;
  --text-4xl-letter-spacing: 0px;
  --text-4xl-line-height: 40px;
  --text-4xl-font-style: normal;
  --text-5xl-font-family: "Barlow-Bold", Helvetica;
  --text-5xl-font-weight: 700;
  --text-5xl-font-size: 60px;
  --text-5xl-letter-spacing: 0px;
  --text-5xl-line-height: 60px;
  --text-5xl-font-style: normal;
  --DS-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --DS-reg: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --DS-med: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  --DS-large: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  --DS-xl: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
  --DS-2xl: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);
  --DS-white-med: 0px 4px 6px 0px rgba(255, 255, 255, 0.1);
  --DS-white-reg: 0px 1px 3px 0px rgba(255, 255, 255, 0.1);
  --DS-white-sm: 0px 1px 2px 0px rgba(255, 255, 255, 0.05);
}
